# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


#git add .
#git commit -m "Mensagem explicando o que mudou"
#git push

# feat => Quando você adiciona uma nova funcionalidade
# fix	=> Quando você corrige um bug
# docs => Alterações na documentação
# style => Mudanças de formatação, espaços, ponto e vírgula...
# refactor => Refatoração de código (sem mudar funcionalidade nem corrigir bug)
# test => Adição ou alteração de testes
# chore => Mudanças que não afetam o código diretamente (ex: dependências, configs)